@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.card{
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #CCC;
    justify-content: center;
    height: 280px;
    width: 250px;
    align-items: center;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
}

.card:hover{
    box-shadow: 1px 2px 10px #CCC;
    transform: translateY(-5px);
}

.card-img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.container-img-item{
    width: 100%;
    height: 55%;
}

.container-details-item{
    box-sizing: border-box;
    height: 45%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
    background-color: rgba(221, 221, 221, 0.557);
    padding: 7px 15px;
}

.titles-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item-link{
    text-decoration: none;
    color: black;
}

.item-title{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: bold;
    text-align: start;
    font-size: 15px;
}

.stock{
    text-align: start;
    color: red;
}

.item-price{
    font-size: 20px;
    font-weight: 400;
}

.logo{
    position: absolute;
    top: 10px;
    left: 20px;
}

.discount{
display: block;
  font-weight: 500;
  color: rgb(55, 209, 55);
  font-size: 14px;
  text-align: start;
  margin-top: 5px;
}

.modified-price{
    text-decoration: line-through;
    margin-right: 5px;
}

.price-with-discount{
    font-size: 20px;

}

.enviogratis-msg{
    padding: 5px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: green;
}