@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.itemcart-container{
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 90%;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 10px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 140px;
}

.itemcart-img-container{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100px;
}

.itemcart-image{
    object-fit: contain;
    width: 80px;
    height: 80px;
}

.item-properties-container{
    display: flex;
    flex-direction: column;
}

.itemcart-title{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.itemcart-details{
    display: flex;
    gap: 40px;
}

.itemcart-price-modified{
    text-decoration: line-through;
}

.itemcart-cantidad{
    font-size: 20px;
}

.remove-btn{
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.count{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 450px){
    .itemcart-title{
        font-size: 16px;
    }

    .itemcart-price{
        font-size: 16px;
    }

    .itemcart-price-modified{
        font-size: 12px;
    }

    .itemcart-container{
        width: 98%;
        padding: 5px 10px;
    }

    .itemcart-details{
        gap: 10px;
    }
    .itemcart-cantidad{
        font-size: 15px;
    }
    .button-delete{
        bottom: 0;
    }
}