@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Noto+Sans&family=Source+Serif+Pro&display=swap');

.header-nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

  
.nav-ul{
    display: flex;
    text-align: center;
    height: 100%;
}

.nav-li{
    padding: 0 15px;
    list-style-type: none;
    height: 100%;
}

.nav-link{
    font-family: 'Barlow', sans-serif;
    font-weight: italic;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-link::before{
    content: '';
    height: 1px;
    width: 0%;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.4s ease-out;
}

.nav-link:hover::before{
    width: 80%;
}


.li-carrito{
    position: relative;
}

.nav-link-cart{
    text-decoration: none;
    color: black;
}

.dropdown-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    background-color: #eee;
    padding: 20px;
    display: none;
}

.nav-animation{
    display: flex;
}
