@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sofia+Sans+Semi+Condensed&display=swap');

.count-container{
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.btn-count{
    background-color: orange;
    border: none;
    border-radius: 30%;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.item-count-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}